/** @format */
:root {
    --primary-color: #1a73e8;
    --secondary-color: #fbbc05;
    --background-color: #f4efe5;
    --text-color: #2b2218;
    --border-radius: 4px;
    --font-family: "Inter", Arial, sans-serif;
    --spacing: 1rem;
}

html.dark {
    --primary-color: #8ab4f8;
    --secondary-color: #ffd966;
    --background-color: #181818;
    --text-color: #e0e0e0;
}

html.light {
    --primary-color: #1a73e8;
    --secondary-color: #fbbc05;
    --background-color: #f4efe5;
    --text-color: #2b2218;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
